name: Build_MiniUrl
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@main
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure git
        run: |
          git config --global user.email "me@snir.sh"
          git config --global user.name "MiniUrl Bot"
          git config --global push.followTags true

      - name: Install dependencies
        run: make install-dependencies

      - name: Bump Version
        id: bump-version
        run: make bump-version
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
          PACKAGES_TOKEN: ${{ secrets.PACKAGES_TOKEN }}

      - name: Create check run
        id: create-check-run
        run: |
          CHECK_RUN_ID=`curl -X POST https://api.github.com/repos/${{ github.repository }}/check-runs \
              -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
              -H "Accept:application/vnd.github.antiope-preview+json" \
              -d "{\"name\": \"MiniUrl / build (push)\", \"head_sha\": \"${{ steps.bump-version.outputs.bumped_version_commit_hash }}\", \"status\": \"in_progress\", \"details_url\": \"https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}\", \"output\": {\"title\": \"Versioned Commit\", \"summary\": \"This is a versioned commit. To see the full GitHub Action, [click here](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}).\"}}" \
            | jq .id`;
          echo "::set-output name=check_run_id::$CHECK_RUN_ID";

      - name: Test
        run: make test

      - name: Build
        run: make build
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
          PACKAGES_TOKEN: ${{ secrets.PACKAGES_TOKEN }}

      - name: Update check run to success
        run: |
          curl -X PATCH https://api.github.com/repos/${{ github.repository }}/check-runs/${{ steps.create-check-run.outputs.check_run_id }} \
            -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            -H "Accept:application/vnd.github.antiope-preview+json" \
            -d "{\"status\": \"completed\", \"conclusion\": \"success\"}";
