name: Test_MiniUrl
on:
  push:
    branches-ignore:
      - main
jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Install dependencies
        run: make install-dependencies

      - name: Test
        run: make test
