name: MiniUrl
on:
  push:
    branches-ignore:
      - main
jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Install dependencies
        run: make install-dependencies

      - name: Test
        run: make test
      - uses: codecov/codecov-action@v1
        with:
          fail_ci_if_error: true # optional (default = false)
          verbose: true # optional (default = false)